manifest {
	description = 'smMIPS Mutations Detection pipeline implemented using Nextflow' 
}

params {
	fastp="/home/arpit/miniconda3/bin/fastp"
	gencore="/home/programs/gencore/gencore"
	adaptors = "/home/programs/Trimmomatic-0.39/adapters/TruSeq2-PE.fa"
	nextera_adapters = "/home/programs/Trimmomatic-0.39/adapters/NexteraPE-PE.fa"
	fastqc = "/home/programs/FastQC/fastqc"
	samtools = "/home/programs/samtools-1.7/samtools"
	bedtools = "/usr/bin/bedtools"
	flt3_bedfile = "/home/pipelines/bedfile/FLT3_pindel"
	site1 = "/home/reference_genomes/dbSNPGATK/Mills_and_1000G_gold_standard.indels.hg19.sites.vcf"
	site2 = "/home/reference_genomes/dbSNPGATK/dbsnp_138.hg19.vcf"
	site3 = "/home/reference_genomes/dbSNPGATK/1000G_phase1.snps.high_confidence.hg19.sites.vcf"
	cycle = "500"
	trimmomatic_path = "/home/programs/Trimmomatic-0.39/"
	ea_utils_path= "/home/programs/ea-utils/clipper"
	picard_path = "/home/programs/picard/build/libs/picard.jar"
	picard_interval = "/home/pipelines/NextSeq_mutation_detector_leukemia/scripts/leukemia_interval.list"
	pear_path = "/home/programs/pear-0.9.10-linux-x86_64/bin/pear"
	GATK38_path = "/home/programs/GenomeAnalysisTK-3.8-1-0-gf15c1c3ef/GenomeAnalysisTK.jar"
	GATK42_path = "/home/diagnostics/programs/gatk-4.2.6.0/gatk-package-4.2.6.0-local.jar"
	freebayes_path = "/home/programs/freebayes/bin/freebayes"
	platypus_path = "/home/programs/Platypus/bin/Platypus.py"
	vardict_path = "/home/programs/VarDictJava/build/install/VarDict/bin"
	varscan_path = "/home/programs/VarScan.v2.3.9.jar"
	bcftools_path = "/home/programs/bcftools-1.9/bcftools"
	strelka_path = "/home/programs/strelka-2.9.2.centos6_x86_64/bin"
	NA12878_bam = "/home/reference_genomes/NA12878/NA12878.final.bam"
	lofreq_path = "/home/programs/lofreq_star-2.1.4_linux-x86-64/bin/lofreq"
	coverview_path = "/home/programs/CoverView-1.4.3"
	cava_path = "/home/programs/CAVA/"
	somaticseq_path = "/home/miniconda3/bin/somaticseq_parallel.py"
	annovarLatest_path= "/home/programs/annovar_latest/annovar/"
	bam2pindel= "/home/programs/pindel-master/bam2pindel.pl"
	pindel= "/home/programs/pindel-master/"
	pindel_config_script = "/home/pipelines/NextSeq_mutation_detector_leukemia/scripts/make_config.sh"
	cnvkitRef = "/home/pipelines/NextSeq_mutation_detector_leukemia/scripts/cnvkit_combpanel/Reference_combpanel.cnn"
	genome_minimap_getitd = "/home/reference_genomes/hg37_chr/hg37_chr/hg37.fa"
	get_itd_path = "/home/programs/GET_ITD_1_5_15/getitd/"
	splitvcf_path = "/home/programs/somaticseq-3.6.3/build/lib/somaticseq/vcfModifier/splitVcf.py"
	java_path = "/usr/lib/jvm/java-8-openjdk-amd64/bin/"
	abra2_path = "/home/programs/ABRA2"
	mosdepth_script = "/home/pipelines/Consensus_pipeline_with_espresso/scripts/mosdepth.sh"
	trim_galore_path = "/home/programs/TrimGalore-0.6.5/trim_galore"
	fgbio_path = "/home/programs/fgbio/fgbio-2.0.1.jar"
	fgbio_new = "/home/programs/fgbio/fgbio-2.5.21.jar"
	PosControlScript = "/home/pipelines/Consensus_pipeline_with_espresso/scripts/PosControlCount.sh"
	fastq_bam = "/home/pipelines/Consensus_pipeline_with_espresso/scripts/fastq_bam.sh"
	filter_cns = "/home/pipelines/Consensus_pipeline_with_espresso/scripts/filter_cns.sh"

	coverview_script_path = "/home/pipelines/mutation_detector_nextflow/scripts/coverview.py"
	coverview_report_path = "/home/pipelines/mutation_detector_nextflow/scripts/coverview_report.py"
	cava_script_path = "/home/pipelines/mutation_detector_nextflow/scripts/cava.py"
	coveragePlot_script = "/home/pipelines/mutation_detector_nextflow/scripts/coverageplot.py"
	format_platypus_script = "/home/pipelines/mutation_detector_nextflow/scripts/platypusoutput-format.py"
	format_freebayes_script = "/home/pipelines/mutation_detector_nextflow/scripts/freebayesoutput-format.py"
	format_vardict_script = "/home/pipelines/mutation_detector_nextflow/scripts/vardictoutput-format.py"
	format_combined_script = "/home/pipelines/NextSeq_mutation_detector_leukemia/scripts/combineoutput-format_v2.py"
	format_somaticseq_script = "/home/pipelines/Consensus_pipeline_with_espresso/scripts/somaticseqoutput-format_v2.py"
	format_concat_script = "/home/pipelines/NextSeq_mutation_detector_leukemia/scripts/concat_combine_somatic.py"
	format_remove_artefact_script = "/home/pipelines/NextSeq_mutation_detector_leukemia/scripts/remove_artefacts.py"
	artefactFile = "/home/pipelines/NextSeq_mutation_detector_leukemia/scripts/artefacts.csv"
	format_pindel_script = "/home/pipelines/mutation_detector_nextflow/scripts/pindel_format_csv.py"
	merge_csvs_script = "/home/pipelines/NextSeq_mutation_detector_leukemia/scripts/merge-csv_v3.py"
	pharma_marker_script = "/home/pipelines/NextSeq_mutation_detector_leukemia/scripts/pharma_markers_v2.py"
	pharma_input_xlxs = "/home/pipelines/NextSeq_mutation_detector_leukemia/scripts/For_pharmacogenomics.xlsx"
	gene_scatter = "/home/pipelines/NextSeq_mutation_detector_leukemia/scripts/gene_scatter"  
	pcgr_script_path = "/home/pipelines/NextSeq_mutation_detector_leukemia/scripts/pcgr.sh"
	variant_call_path = "/home/pipelines/NextSeq_mutation_detector_leukemia/scripts/variant_callers.py"
	vcf_sorter_path = "/home/pipelines/NextSeq_mutation_detector_leukemia/scripts/vcf_sorter.sh"
	ensemblid_path = "/home/pipelines/NextSeq_mutation_detector_leukemia/scripts/GENE_IDS/ensemblids.dat"
	concat_script_path = "/home/pipelines/NextSeq_mutation_detector_leukemia/scripts/concat_pcgr_cpsr.py"
	pcgr_cpsr_script_path = "/home/pipelines/NextSeq_mutation_detector_leukemia/scripts/add_pcgr_cpsr.py"
	pcgr_cpsr_script_path2 = "/home/pipelines/NextSeq_mutation_detector_leukemia/scripts/add_pcgr_cpsr2.py"
	cnvkit_path = "/home/pipelines/NextSeq_mutation_detector_leukemia/scripts/cnvkit.sh"
	vep_script_path = "/home/pipelines/NextSeq_mutation_detector_leukemia/scripts/vep_analysis.sh"
	vep_extract_path = "/home/pipelines/NextSeq_mutation_detector_leukemia/scripts/vep_extract.py"
	cancervar = "/home/pipelines/NextSeq_mutation_detector_leukemia/scripts/CancerVar.sh"
	cancervar_extract = "/home/pipelines/NextSeq_mutation_detector_leukemia/scripts/cancervar_extract.py"
	mutect2 = "/home/pipelines/NextSeq_mutation_detector_leukemia/scripts/mutect2.sh"
	acmg_scripts = "/home/pipelines/NextSeq_mutation_detector_leukemia/scripts/acmg/"
	vcf_filter = "/home/pipelines/Consensus_pipeline_with_espresso/scripts/vcf_filter.sh"

	flash_path="/home/programs/FLASH-1.2.11/flash"
	annovar2_path="/home/programs/annovar_latest/annovar/"
	combinedCsvFormat_script_path="/home/pipelines/mutation_detector_nextflow/scripts/combined_csv-format.py"
	formatLofreq_script_path="/home/pipelines/mutation_detector_nextflow/scripts/lofreqoutput-format.py"
	formatMutect_script_path="/home/pipelines/mutation_detector_nextflow/scripts/mutectoutput-format.py"
	formatVardict_script_path="/home/pipelines/mutation_detector_nextflow/scripts/vardictoutput-format.py"
	KDMdb_script_path="/home/pipelines/mutation_detector_nextflow/scripts/search_KDMmutationDB.py"
	mergeAmpliconCsv_path="/home/pipelines/mutation_detector_nextflow/scripts/merge_csv_Amplicon.py"
	umi_error_model="/home/pipelines/Consensus_pipeline_with_espresso/scripts/Espresso/umi_error_model.sh"
	finalcns_link= "/home/pipelines/Consensus_pipeline_with_espresso/scripts/final_cns_link.sh"
	format_somaticseq_script_dragen = "/home/pipelines/Consensus_pipeline_with_espresso/scripts/somaticseqoutput-format_dragen.py"
	plot_family_size = "/home/diagnostics/pipelines/Nanopore_UMI/scripts/plot_family_sizes.py"
	cutadapt = "/home/programs/cutadapt_2.8/venv/bin/cutadapt"
	
	gatk = "/home/diagnostics/programs/gatk-4.2.6.0/gatk"
	mutect2_pon = "/home/pipelines/Consensus_pipeline_with_espresso/scripts/Mutect2_PON/mutect2_pon.vcf.gz"
	bnc_excel_files = "/new_disk/MIPS_UNIPATH_080825/Final_Output/bnc_list.dat"
	bedfile = "/home/pipelines/Consensus_pipeline_with_espresso/bedfiles/mips_mrd_bal210125_sortd" 
	bedfile2 = "/home/pipelines/Consensus_pipeline_with_espresso/bedfiles/mips_mrd_bal11March_exon_sortd"
	filt3r_ref = "/home/diagnostics/programs/filt3r/data/flt3_exon14-15.fa"

	// Sal mips
	smmips_adaptors = "${projectDir}/assets/adaptors.fa"
	input = "${projectDir}/samplesheet.csv"
	sequences = "${projectDir}/sequences/"
	genome = "${projectDir}/assets/hg19_all.fasta"
	genome_dir = new File(genome).parent
	ind_files = new File(genome).name
	smMIPS_txt_file = "${projectDir}/assets/mips.txt"
	smMIPS_txtR_file = "${projectDir}/assets/mips.txtR"
	bin_scripts = "${projectDir}/bin/"
	forward_sam = "F"
	reverse_sam = "R"
	outdir = "/home/pipelines/Consensus_pipeline_with_espresso/Final_Output_MIPS"
	snp = "SNP"
	indel = "INDEL"
	annovar_humandb = "${projectDir}/assets/humandb"
	gen_ref = "${projectDir}/assets/gene_fullxref.txt"
	matrix = "${projectDir}/assets/beta_matrix.txt"
	snp_filter_list = "${projectDir}/assets/snps_cutoff3.txt"
	indel_filter_list = "${projectDir}/assets/indels_cutoff3.txt"

	// CEBPA

	collapsed = "collaps"
	uncollapsed = "uncollaps"
	mutect2 = "mutect2"
	vardict = "vardict"
	varscan = "varscan"

}

def humandb_real = new File(params.annovar_humandb).canonicalPath
def reffile_real = new File(params.gen_ref).canonicalPath
def trace_timestamp = new java.util.Date().format( 'yyyy-MM-dd_HH-mm-ss')
timeline {
	enabled = true
	file    = "${params.outdir}/execution_timeline_${trace_timestamp}.html"
}
report {
	enabled = true
	file    = "${params.outdir}/execution_report_${trace_timestamp}.html"
	overwrite = true
}
trace {
	enabled = true
	file = "${params.outdir}/pipeline_trace_${trace_timestamp}.txt"
	fields = 'hash,task_id,name,status,exit,realtime,%cpu,rss'
}
dag {
	enabled = true
	file    = "${params.outdir}/pipeline_dag_${trace_timestamp}.html"
}

profiles {
	docker {
		docker.enabled = true
		docker.runOptions       = '-u $(id -u):$(id -g)'
	}
}

process {

	resourceLimits = [ 
		memory: 500.GB,
		cpus: 150,
		time: 30.d
	]
	// TODO nf-core: Check the defaults for all processes
	// cpus   = { 1      * task.attempt }
	// memory = { 6.GB   * task.attempt }
	// time   = { 12.h    * task.attempt }

	errorStrategy = 'retry'
	maxRetries    = 1
	// maxErrors     = '-1'

	withLabel:process_single {
		cpus   = { 1                   }
		memory = { 6.GB * task.attempt }
		time   = { 16.h  * task.attempt }
	}
	withLabel:process_low {
		cpus   = { 8     * task.attempt }
		memory = { 12.GB * task.attempt }
		time   = { 16.h   * task.attempt }
	}
	withLabel:process_medium {
		cpus   = { 32     * task.attempt }
		memory = { 64.GB * task.attempt }
		time   = { 16.h   * task.attempt }
	}
	withLabel:process_high {
		cpus   = { 64    * task.attempt }
		memory = { 100.GB * task.attempt }
		time   = { 16.h  * task.attempt }
	}
	withLabel:process_long {
		time   = { 20.h  * task.attempt }
	}
	withLabel:process_high_memory {
		memory = { 200.GB * task.attempt }
	}

	// withName:MARK_DUPS {
	// 	container = 'quay.io/biocontainers/gatk4:4.4.0.0--py36hdfd78af_0'
	// }

	withName: /(SPLITBAM|COMBINEBAMS|INDEX|SAMTOOLS)/ {
		container = 'quay.io/biocontainers/samtools:1.17--h00cdaf9_0'
	}

	withName:PREPROCESS {
		container = 'amatsus/fastq-mcf:1.04.807'
	}

	withName:PEAR_SELF_ASSEMBLE {
		container = 'quay.io/biocontainers/pear:0.9.6--hb1d24b7_13'
	}

	withName: /(ALIGNMENT|SPLITSAM|MPILEUP)/ {
		container = 'dukegcb/bwa-samtools:latest'
	}

	withName:BAMTOFASTQ {
		container = 'quay.io/biocontainers/bedtools:2.31.1--h13024bc_3'
	}

	withName:CALL_CONSENSUS {
		container = 'quay.io/biocontainers/fgbio:3.0.0--hdfd78af_0'
	}

	withName:SAMTOFASTQ {
		container = 'quay.io/biocontainers/gatk4:4.4.0.0--py36hdfd78af_0'
	}

	withName: /(COMBINE_MIPS_COUNTS|COMBINE_VCF|VARCALL|RENAME_SMMIPS)/ {
		container = 'perldocker/perl:5.10.1'
	}

	withName:ANNOVAR {
		container = 'bioinfochrustrasbourg/annovar:2018Apr16'
		containerOptions = "-v ${humandb_real}:/databases/humandb -v ${reffile_real}:/databases/gene_fullxref.txt"
	}

	withName:FORMAT_ANNOVAR {
		container = 'quay.io/biocontainers/pandas:1.5.2'
	}

	withName:ERROR_CORRECTN {
		container = 'jupyter/scipy-notebook:x86_64-ubuntu-22.04'
	}
	// withName:MARK_DUPS {
	// 	container = 'quay.io/biocontainers/gatk4-spark:4.5.0.0--hdfd78af_0'
	// 	cpus = 32
	// 	memory = 36.GB
	// }

	withName:TRIM {
		container = 'quay.io/biocontainers/trimmomatic:0.39--hdfd78af_2'
	}	

	withName: /(ADD_UMI|ZIPPERBAM|GROUPREADSBYUMI|CALLMOLCONSREADS|FILTERCONSBAM)/ {
		container = 'quay.io/biocontainers/fgbio:3.0.0--hdfd78af_0'
	}

	withName: /(MAPBAM|SORT_INDEX|SORT_INDEX_CONS|MAPBAM_CONS)/ {
		container = 'dukegcb/bwa-samtools:latest'
	}

	withName: /(ADDGROUPS|MUTECT2|DICT_GEN)/ {
		container = 'quay.io/biocontainers/gatk4:4.4.0.0--py36hdfd78af_0'
	}

	withName:COVERAGE {
		container = 'quay.io/biocontainers/bedtools:2.31.1--h13024bc_3'
	}

	withName:VARDICT {
		container = 'quay.io/biocontainers/vardict-java:1.8.3--hdfd78af_0'
	}

	withName:VARSCAN {
		container = 'quay.io/biocontainers/varscan:2.4.4--0'
	}
	
}

executor {
	name = 'local'
	queueSize = 20
}

workDir = '/new_disk/trash'
